@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Biblioteca</h1>
    <p class="lead">Proyecto web realizado con ASP .NET (Entity Framework MVC)</p>
    <p>@Html.ActionLink("Acceso", "Login", "Usuarios")</a></p>
</div>
