

    <ul class="nav navbar-nav navbar-right">
        @if ((String)Session["rol"] != null)
        {
        <li>@Html.ActionLink("Salir", "Salir", "Usuarios")</li>
        }
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Usuarios")</li>
    </ul>

